body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Action Man';
  src: url('assets/fonts/Action_Man.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}
